{% load simple_translation_tags document_library_tags %}
{% load url form future %}
{% for document in object_list %}
    {% with document|get_preferred_translation_from_request:request as document_title %}
    <h2><a href="{{ document.get_absolute_url }}">{{ document_title.title }}</a></h2>
    <p>{{ document_title.description }}</p>
    {% endwith %}
    {% if document.download_url %}
        <p><a href="{{ document.download_url }}">{{ document.download_url }}</a></p>
    {% else %}
        {% get_files_for_document document as files %}
        {% for file in files %}
            <p><a href="{{ file.url }}">{{ file.name|default:file.original_filename }}</a></p>
        {% endfor %}
    {% endif %}
{% endfor %}
