# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django==3.2.24
django_libs
django-parler==2.3
Pillow
python-dateutil
