# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django
django_libs
django-hvad
Pillow
python-dateutil
