{% load tz %}
<ul>
    {% for month in months %}
        <li>
            <a href="">{{ month.month|utc|date:"Y-m" }} ({{ month.pk__count }})</a>
        </li>
    {% endfor %}
</ul>
{% for document in object_list %}
    <h2><a href="{{ document.get_absolute_url }}">{{ document.title }}</a></h2>
    <p>{{ document.description }}</p>
    {% if document.download_url %}
        <p><a href="{{ document.download_url }}">{{ document.download_url }}</a></p>
    {% elif document.thumbnail %}
        <p><a href="{{ document.filer_file.url }}"><img src="{{ document.thumbnail.url }}" alt="{{ document.filer_file.original_file_name }}"></a></p>
    {% else %}
        <p><a href="{{ document.filer_file.url }}">{{ document.filer_file.name|default:document.filer_file.original_filename }}</a></p>
    {% endif %}
{% endfor %}
{% include "django_libs/partials/pagination.html" %}